<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .body{
            background-color: aqua;

        }

        .div1{
            background-color: beige;
            border-radius: 1px;
            /* text-align: justify; */
            align-content: center;
            margin-left: 10px;
            margin-left: auto;
            max-resolution:  100px; 
            image-orientation: from-image;

        }

        }
    </style>
</head>
<body class="body">
    <div class="div1">
        <form class="form1" style="position:absolute;">
            <label>
                Username
            </label>
            <label>:</label>
            <input type="text" placeholder="username" name="username">
            <br>
            <label>Pssword</label>
            <label>:</label>
            <input type="password" placeholder="password" name="password">
            <br>
            <input type="submit" name="submit">
        </form>
    </div>
    
</body>
</html>